:root {
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --font-family: 'Roboto', sans-serif;
    --title-font-size: 16px;
    --text-font-size: 14px;
    --priamary-color: #212121;
    --text-color: #757575;
}
body {
    font-family: var(--font-family);
    font-size: var(--text-font-size);
    color: var(--accent-color);
}

.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

/*--хедер--*/
.logo {
    font-size: 26px;
    line-height: 1.92;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.header {
    border-color: antiquewhite;
}
.logo-dark {
    color: #000;
}
.logo-white {
    color: #fff;
}

.list-item .menu {
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priamary-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.link {
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}

.title {
    color: var(--priamary-color);
    font-size: 32px;
}
.button {
    font-size: var(--text-font-size);
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/*--портфоліо--*/

.portfolio-title {
    font-size: 18px;
    color: var(--priamary-color);
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: var(--title-font-size);
    color: var(--text-color);
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/*--подвал--*/

footer {
    background-color: #2f303a;
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-white {
    color: #fff;
}
.item-address .address {
    font-size: var(--text-font-size);
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-style: normal;
}
.address-item .link {
    font-size: var(--text-font-size);
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

/*--студія--*/

.studio {
    background-color: #2f303a;
}

.studio-title {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.btn-primary {
    width: 216px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
}
.advantages-title {
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--priamary-color);
}
.advantages-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.list-title {
    font-size: var(--title-font-size);
    color: var(--priamary-color);
    line-height: 2;
    letter-spacing: 0.06em;
}
.list-text {
    font-size: var(--title-font-size);
    color: var(--text-color);
    line-height: 1.87;
    letter-spacing: 0.03em;
}
