:root {
	--accent-color:#2196F3;
	--primary-white-color:#fff;
	--font-family: "Roboto" sans serif;
	--title-font-size:18px;
	--text-font-size:14px;
	--priamary-color:#212121;
	--text-color:#757575;
	
}
body {
	font-family: var(--font-family);
	font-size: var(--text-font-size);
	color: var(--accent-color);
	font-family:"Roboto" sans serif;
	color:#212121;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/*--хедер--*/
.logo {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.92;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}
.header {
	border-color: antiquewhite;
}
.logo-dark {
	color: #000;
}
.logo-white {
	color: #fff;
}

.nav-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
}
.active {
	color: #2196F3;
}

.active:hover,
.active:focus {
	color: var(--primary-white-color);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}
.button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	
}
.button:hover,
.button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	width: 140px;
}
.button-primary {
color:var(--accent-color);
}
.button-secondary {
color:var(--text-color);
}
.button-secondary:hover,
.button-secondary:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	width: 140px;
}

.portfolio-title {
	color: #212121;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 32px;
}
.menu-link {
	font-family: 'Roboto';
	font-size: 16px;
	text-align: center;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: #212121;
	transition: 1s;
}
.link:hover,
.link:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.portfolio-item {
	background: #F5F4FA;
	border-radius: 4px;
	width: 125px;
    height: 38px;
}
.portfolio-item:hover,
.portfolio-item:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	width: 125px;
	height: 38px;
	transition: 0.5s;
}
.curent {
	color:var(--primary-white-color);
}
.portfolio-item-curent {
	width: 73px;
	height: 38px;
	background: #2196F3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

/*--портфоліо--*/

.list-title {
	font-size:var(--title-font-size);
    color: var(--priamary-color);
	font-family:var(--font-family);
	font-family:'Roboto';
	line-height:2;
letter-spacing: 0.06em;
}
.list-text {
	font-size: var(--text-font-size);
	color: var(--text-color);
	font-family: 'Roboto';
	line-height: 1.87;
	letter-spacing: 0.03em;
}

/*--подвал--*/

footer {
	background-color: #2F303A;
}
.logo {
	color: var(--accent-color);
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height:1.19;
	letter-spacing: 0.03em;
}
.logo-white {
	color: #fff;
}
.address {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}
.address-link {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}


/*--студія--*/

.studio {
	background-color: #2F303A;
	width: 100%;
	height: 600px;
}
.studio-title {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.btn-primary {
width: 216px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
color: #fff;
text-align: center;
cursor: pointer;
}
.section-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--priamary-color);
}
.advantages-title {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
    color:var(--priamary-color);
	
}
.advantages-text {
	font-family: 'Roboto';
	font-size: 14px;  
	line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--text-color);
}